###################################################################################################
# ExampleModule configuration
###################################################################################################

# ExampleModule.Enable
#     Enable or disable the module.
#     Default: 1 (enabled)
ExampleModule.Enable = 1
